.loader {
  width: 48px;
  height: 48px;
  display: none;
  position: relative;
  left: 50%;
}
.loader::after,
.loader::before {
  content: '';
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 2px solid #000000;
  position: absolute;
  left: 50%;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

form {
  display: flex;
  justify-content: center;
  gap: 8px;
}

label {
  height: 40px;
}

input {
  width: 272px;
  border-radius: 4px;
  border: 1px solid #808080;
  padding: 11px;
  padding-left: 16px;
  outline: none;
}

input::placeholder {
  color: #808080;
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: #4e75ff;
  border: none;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
}

img {
  display: block;
  width: 100%;
  height: 87%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery li {
  width: calc((100% - 54px) / 3);
  border: 1px solid #808080;
}

.gallery div {
  display: flex;
  align-items: center;
  gap: 32px;
  padding: 4px 20px;
}

.gallery div p {
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
}
